<div ng-controller="eventsController">
	<div class="row">
		<div class="col s12">
			<h5>Welcome, {{ user.displayName }}</h5>
			<div
			  class="fb-like"
			  data-share="true"
			  data-width="450"
			  data-show-faces="true">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s8">
			<h4 class="list_header">List of Events</h4>
		</div>
		<div class="col s2 button_position">
			<!-- <a href="#/new"><h4>Create New Event (+)</h4></a> -->
			 <a href="#/new" class="btn-floating btn-large waves-effect waves-light light-blue accent-1 right"><i class="material-icons">add</i></a>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div ng-repeat="event in events | orderBy: 'date' | limitTo: paginationLimit()">
					<div class="row">
						<a href="#/{{events.indexOf(event)}}/show">
						<div class="col s10">
							<div class="card grey lighten-3">
		            <div class="card-content black-text">
		            	<span class="card-title black-text">{{event.title}}</span>
		            	<span class=" black-text right">{{event.date | date:'MM/dd/yyyy'}}<br>{{event.time | date:'hh:mm a'}}</span>
		            	<!-- <span class=" black-text right">{{event.time | date:'hh:mm a'}}</span> -->
			              <p>{{event.description}}</p>
			              <p>Owner: {{event.admin_name}}</p>
		            </div>
							</div>
						</div>
					</a>
					</div>
			</div>
			<button id='toastmaster'>Toast</button>
			<a href="" ng-show="hasMoreToShow()" ng-click="showMore()"><p>Show more...</p></a>
		</div>
<!-- 		<div class="col s6">
			<a href="#/new"><h4>Create New Event (+)</h4></a>
		</div> -->
	</div>
</div>