<div ng-controller="eventsController">
	<div>
		<h4>Welcome, {{ user.displayName }}</h4>
		<div
		  class="fb-like"
		  data-share="true"
		  data-width="450"
		  data-show-faces="true">
		</div>
		<h4>List of Events</h4>
	</div>
	<div class="row">
		<div class="col s6">
			<div ng-repeat="event in events | orderBy: 'date' | limitTo: paginationLimit()" style="border: 1px solid silver">
				<a href="#/{{events.indexOf(event)}}/show">
					<div>
						<p>{{event.title}}</p>
						<p>{{event.description}}</p>
						<p>{{event.date | date:'MM/dd/yyyy'}}</p>
						<p>{{event.time | date:'hh:mm a'}}</p>
					</div>
				</a>
			</div>
			<a href="" ng-show="hasMoreToShow()" ng-click="showMore()"><p>Show more...</p></a>
		</div>
		<div class="col s6">
			<a href="#/new"><h4>Create New Event (+)</h4></a>
		</div>
	</div>
</div>