<div ng-controller="eventsController">
	<div>
		<h1>List Planner</h1>
		<p>Welcome Andrew</p>
	</div>
	<div ng-repeat="event in events" style="border: 1px solid silver">
		<a href="#/{{events.indexOf(event)}}/show">
			<div>
				<p>{{event.title}}</p>
				<p>{{event.description}}</p>
				<p>{{event.date | date:'MM/dd/yyyy'}}</p>
				<p>{{event.time | date:'HH:mm a'}}</p>
			</div>
		</a>
	</div>
	<a href=""><p>show more...</p></a>
	<a href=""><div style="border: 1px solid silver">
		<a href="#/new"><h3>Create New List (+)</h3></a>
	</div></a>
</div>