<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>

<div ng-controller="showController">
	<h3>{{events[id].title}}</h3>
	<h5>{{events[id].description}}</h5>
	<h5>{{events[id].date | date:'MM/dd/yyyy'}} @ {{events[id].time | date:'hh:mm a'}}</h5>
	       <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
  <div style="border: 1px solid silver">
		<ul>
      <div ng-repeat="item in events[id].items">
  			<li ng-click="turnOn(item.name)">{{item.quantity}} {{item.name}}
        </li>
        <li ng-repeat="claims in item.claims"> {{claims.name}}: {{claims.quantity}} {{claims.description}}
        </li>
        <div ng-show='item.truth'>
          <input type='text' placeholder='Name' ng-model='itemClaim.name'>
          <select class="browser-default" material-select ng-model='itemClaim.quantity'>
            <option ng-repeat="number in item.itemArray">{{number}}</option>
          </select>
          <input type='text' placeholder='Description' ng-model='itemClaim.description'>              
          <button type='submit' ng-click="claimItem(item.name)">Claim This Item</button>
          <button type='submit' ng-click="turnOff(item.name)">Cancel</button>
        </div>
      </div>
		</ul>
	</div>

<ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="item in events[id].items">
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ item.name }}</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
        

	<a href="#/{{id}}/edit"><button>Edit Event</button></a>
  <a href="#/"><button>Go Back</button></a>
</div>