<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>

<div ng-controller="showController">
	<h3>{{events[id].title}}</h3>
	<h5>{{events[id].description}}</h5>
	<h5>{{events[id].date | date:'MM/dd/yyyy'}} @ {{events[id].time | date:'hh:mm a'}}</h5>
	     <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
  <div>
		<ul>
      <div ng-repeat="item in events[id].items">
  			<li ng-click="turnOn(item.name)" class="collapsible_li grey lighten-3"><h5>{{item.quantity}} {{item.name}}</h5>
        </li>
        <li ng-repeat="claims in item.claims" class="claim_div"> 

              <span class="claim_name">{{claims.name}} </span> is bringing {{claims.quantity}} {{claims.description}}

        </li>
        <div ng-show='item.truth' class="collapsible_body">
          <!-- <div class="row">
            <div class="input-field col s4 offset-s1">
              <input id="name" type='text' ng-model='itemClaim.name'>
              <label for="name">Name</label>
            </div>
          </div> -->
          <div class="row">
            <div class="col s2 offset-s1">
              <label for="quantity">Quantity</label>
              <select class="browser-default" material-select ng-model='itemClaim.quantity'>
              <option ng-repeat="number in item.itemArray">{{number}}</option>
              </select>
            </div>
            <div class="input-field col s8">
              <input name="description" type='text' ng-model='itemClaim.description'>
              <label for="description">Description</label>
            </div>
          </div>
          <button type='submit' ng-click="claimItem(item.name)" class="waves-effect waves-light btn orange lighten-3">Claim This Item</button>
          <button type='submit' ng-click="turnOff(item.name)" class="waves-effect waves-light btn orange lighten-3">Cancel</button>
        </div>
      </div>
		</ul>
	</div>
        

	<a href="#/{{id}}/edit" class="waves-effect waves-light btn light-blue accent-1">Edit Event</a>
  <a href="#/" class="waves-effect waves-light btn light-blue accent-1">Go Back</a>
</div>