<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Bring it | Home</title>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Materialize -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <!-- AngularJS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>

  <script src="angular/app.js"></script>
  <script src="angular/controllers/events-controller.js"></script>
  <script src="angular/factories/event-factory.js"></script>
  <script src="angular/controllers/show-controller.js"></script>
  <script src="angular/factories/user-factory.js"></script>
</head>
<body>
  <script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '535173049968945',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="container">
    <nav>
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s8">
             &nbsp<a href="#/" class="brand-logo">Bring it</a>
          </div>
          <div class="col s4">
            <ul class="right">
              <li><a href="#/">Dashboard</a></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div ng-view=""></div>
  </div>
</body>
</html>